node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
# track required templates
!Fixes/pdf_temp_export.pdf
!Fixes/email_temp_export.pdf

!Fixes/pdf_temp_export.pdf
!Fixes/email_temp_export.pdf
